In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import MiniBatchKMeans

In [4]:
if __name__ == "__main__":
    dataset = pd.read_csv("./data/candy.csv")

dataset.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [6]:
X=dataset.drop(['competitorname'],axis=1)

kmeans = MiniBatchKMeans(n_clusters=4,batch_size=8).fit(X)

print("total de centros",len(kmeans.cluster_centers_))
print("="*64)

print(kmeans.predict(X))

total de centros 4
================================================================
[0 0 3 1 2 2 2 3 1 3 1 3 3 1 1 1 1 1 2 3 2 1 2 0 2 2 3 2 0 1 1 2 0 0 1 2 0
 2 0 1 2 2 0 0 3 1 1 0 1 1 1 0 0 0 0 3 0 3 1 3 0 2 1 1 0 2 2 2 0 3 3 3 3 2
 2 1 1 2 1 0 1 1 1 1 2]

In [7]:
dataset['group'] = kmeans.predict(X)

dataset

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,group
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,0
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,0
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,3
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,1
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,1
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,1
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,1
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,1
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,2